include README.rst
include CHANGES.rst
include setup.cfg
include licenses/LICENSE.rst
include pyproject.toml

recursive-include pytelpoint *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include scripts *
recursive-include pytelpoint/test_data *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
